{% extends 'base.html.twig' %}

{% block title %}
  {{ parent() }} - {{genre.name}}
{% endblock %}

{% block body %}

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-4">
        {% for movie in movies %}
            {% include 'movie/movie_card.html.twig' with {'movie': movie} %}
        {% else %}
            <p>Aucun article n'a été trouvé pour cette catégorie</p>
        {% endfor %}
    </div>
{% endblock %}
