{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - {{page_title}}
{% endblock %}

{% block body %}
    <div class="text-right mb-5">
        <a href="{{ path('movie_add') }}" class="inline-block py-1 px-4 rounded-md bg-blue-500 text-white text-sm mt-2 transition duration-300 ease-in-out hover:bg-cyan-800">Ajouter un film</a>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-4">
        {% for movie in movies %}
            {% include 'movie/movie_card.html.twig' with { 'movie': movie } %}
        {% else %}
            <p>Aucun film n'a été trouvé pour cette catégorie</p>
        {% endfor %}
    </div>

{% endblock %}
