{% extends 'base.html.twig' %}

{% block title %}{{page_title}}{% endblock %}

{% block body %}

    {{ include('movie_crud/_form.html.twig') }}

    <a href="{{ path('movie_crud_index') }}" class="text-blue-700 font-semibold">Revenir à la liste des films</a>
{% endblock %}
